<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart - Gale</title>
	<link rel="stylesheet" type="text/css" href="/static/sass.css">
</head>
<body>
	<nav class = 'navbar'>
		<a href="#">TEST</a>
		<div class = "nav-container">
			<ul>
				<li class="nav-item"><a href="#" class="nav-link">Track Order</a></li>
				<li class="nav-item"><a href="#" class="nav-link">
					<img src="/icon/search.png" alt="search">
				</a></li>
				<li class="nav-item"><a href="#" class="nav-link">
						<img src="/icon/user.png" alt="profile">
				</a></li>
				<li class="nav-item"><a href="#" class="nav-link">
						<img src="/icon/shopping.png" alt="cart">
				</a></li>
			</ul>
		</div>
	</nav>

	<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>